# Importing the dataset

In [ ]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

HotelReview = pd.read_csv("/content/drive/MyDrive/BAP Project/Datasets/Final Datasets/Hotel Reviews Enhanced Dataset (Latest).csv")
HotelReview = HotelReview.drop(["Unnamed: 0"], axis=1)
HotelReview['Year'] = HotelReview['Dates'].str.strip().str[-4:]
HotelReview = HotelReview[HotelReview['Year'].astype(float) >= 2007]

print (len(HotelReview.index))
print(HotelReview.info())
print(HotelReview.head())

KeyboardInterrupt: ignored

In [ ]:
for col in HotelReview.columns.drop(['Titles','Reviews','Dates','No. of Reviews','Address']):
    print('-' * 40 + col + '-' * 40 )
    display(HotelReview[col].value_counts(dropna=False).sort_index(ascending=True).head(10))

----------------------------------------Hotel----------------------------------------

30 Bencoolen                               500
ABC Hostel                                 118
AMOY Hotel by Far East Hospitality        1000
Aliwal Park Hotel                           48
Aloha Changi                                30
Amara Singapore                           1000
Ambassador Transit Lounge Singapore T2       2
Amrise Hotel                               158
Andaz Singapore                           1000
Ann Siang House                            150
Name: Hotel, dtype: int64

----------------------------------------Review.Rating----------------------------------------

1     7608
2     7336
3    20188
4    44556
5    77166
Name: Review.Rating, dtype: int64

----------------------------------------Travel.Type----------------------------------------

business    24574
couple      43432
family      33769
friends     13919
solo        12866
NaN         28294
Name: Travel.Type, dtype: int64

----------------------------------------Hotel Class----------------------------------------

1.0      391
1.5       69
2.0    13648
2.5      942
3.0    33192
3.5     2995
4.0    55085
4.5     1700
5.0    43441
NaN     5391
Name: Hotel Class, dtype: int64

----------------------------------------Rating----------------------------------------

1.0       33
1.5        4
2.0      778
2.5      989
3.0     8196
3.5    30668
4.0    52150
4.5    60265
5.0     3763
NaN        8
Name: Rating, dtype: int64

----------------------------------------Location----------------------------------------

1.0        9
1.5       10
2.5      168
3.0     2587
3.5    18269
4.0    32763
4.5    83071
5.0    19962
NaN       15
Name: Location, dtype: int64

----------------------------------------Cleanliness----------------------------------------

1.0       42
1.5       56
2.0      706
2.5     1230
3.0     4114
3.5    13900
4.0    42585
4.5    80109
5.0    14095
NaN       17
Name: Cleanliness, dtype: int64

----------------------------------------Service----------------------------------------

1.0        5
2.0      450
2.5     1217
3.0     5039
3.5    21988
4.0    51035
4.5    73307
5.0     3589
NaN      224
Name: Service, dtype: int64

----------------------------------------Value----------------------------------------

2.0      911
2.5      667
3.0     7000
3.5    33024
4.0    95398
4.5    18466
5.0       19
NaN     1369
Name: Value, dtype: int64

----------------------------------------FreeParking----------------------------------------

0.0    116655
1.0     40191
NaN         8
Name: FreeParking, dtype: int64

----------------------------------------FreeWifi----------------------------------------

0.0     16631
1.0    140215
NaN         8
Name: FreeWifi, dtype: int64

----------------------------------------FreeBreakfast----------------------------------------

0.0    137670
1.0     19176
NaN         8
Name: FreeBreakfast, dtype: int64

----------------------------------------Gym----------------------------------------

0.0     48281
1.0    108565
NaN         8
Name: Gym, dtype: int64

----------------------------------------Pool----------------------------------------

0.0     47442
1.0    109404
NaN         8
Name: Pool, dtype: int64

----------------------------------------Restaurant----------------------------------------

0.0     36117
1.0    120729
NaN         8
Name: Restaurant, dtype: int64

----------------------------------------BarLounge----------------------------------------

0.0    64310
1.0    92536
NaN        8
Name: BarLounge, dtype: int64

----------------------------------------TV----------------------------------------

0.0      9351
1.0    147495
NaN         8
Name: TV, dtype: int64

----------------------------------------EventFacilities----------------------------------------

0.0     44028
1.0    112818
NaN         8
Name: EventFacilities, dtype: int64

----------------------------------------RoomService----------------------------------------

0.0    57575
1.0    99271
NaN        8
Name: RoomService, dtype: int64

----------------------------------------Year----------------------------------------

2007      329
2008      447
2009     2269
2010     1283
2011     2028
2012     3001
2013     4181
2014     6480
2015     9964
2016    12620
Name: Year, dtype: int64

#Data Exploratory Analysis

In [ ]:
#check for rename/ NA/ impute, datatype, polarity score

#check for NA values
print (HotelReview.isna().sum())

Hotel                  0
Titles                 7
Reviews                0
Dates                  0
Review.Rating          0
Travel.Type        28294
Hotel Class         5391
No. of Reviews         8
Rating                 8
Location              15
Cleanliness           17
Service              224
Value               1369
Address               21
FreeParking            8
FreeWifi               8
FreeBreakfast          8
Gym                    8
Pool                   8
Restaurant             8
BarLounge              8
TV                     8
EventFacilities        8
RoomService            8
Year                   0
dtype: int64

In [ ]:
#rename col names
print(HotelReview.columns)
HotelReview.rename(columns = {"Review.Rating": "Review_Rating", "Travel.Type": "Travel_Type", "No. of Reviews": "No_of_Reviews", "Hotel Class": "Hotel_Class"}, inplace = True)
print("\n After modifying columns:\n", HotelReview.columns)

#impute TravelType 'others'
HotelReview['Travel_Type'].fillna("Others", inplace=True)
print('\n Dinsinct values for TravelType:\n' + str(HotelReview['Travel_Type'].unique()))

#NA drop rows (Titles, No. of Reviews, Rating, FreeParking.. RoomService)
HotelReview = HotelReview.dropna()

Index(['Hotel', 'Titles', 'Reviews', 'Dates', 'Review.Rating', 'Travel.Type',
       'Hotel Class', 'No. of Reviews', 'Rating', 'Location', 'Cleanliness',
       'Service', 'Value', 'Address', 'FreeParking', 'FreeWifi',
       'FreeBreakfast', 'Gym', 'Pool', 'Restaurant', 'BarLounge', 'TV',
       'EventFacilities', 'RoomService', 'Year'],
      dtype='object')

 After modifying columns:
 Index(['Hotel', 'Titles', 'Reviews', 'Dates', 'Review_Rating', 'Travel_Type',
       'Hotel_Class', 'No_of_Reviews', 'Rating', 'Location', 'Cleanliness',
       'Service', 'Value', 'Address', 'FreeParking', 'FreeWifi',
       'FreeBreakfast', 'Gym', 'Pool', 'Restaurant', 'BarLounge', 'TV',
       'EventFacilities', 'RoomService', 'Year'],
      dtype='object')

 Dinsinct values for TravelType:
['couple' 'family' 'friends' 'business' 'solo' 'Others']

In [ ]:
# Data types

print(HotelReview.dtypes)

HotelReview[['Hotel','Titles', 'Reviews', 'Address']] = HotelReview[['Hotel','Titles', 'Reviews', 'Address']].astype("string")
HotelReview[['Review_Rating','Travel_Type', 'Hotel_Class', 'Rating','Location','Cleanliness','Service','Value','FreeParking','FreeWifi','FreeBreakfast','Gym','Pool','Restaurant','BarLounge','TV','EventFacilities','RoomService']] = HotelReview[['Review_Rating','Travel_Type', 'Hotel_Class', 'Rating','Location','Cleanliness','Service','Value','FreeParking','FreeWifi','FreeBreakfast','Gym','Pool','Restaurant','BarLounge','TV','EventFacilities','RoomService']].astype("category")
HotelReview[['No_of_Reviews', 'Year']] = HotelReview[['No_of_Reviews', 'Year']].astype("int")
print(HotelReview.dtypes)

Hotel               object
Titles              object
Reviews             object
Dates               object
Review_Rating        int64
Travel_Type         object
Hotel_Class        float64
No_of_Reviews      float64
Rating             float64
Location           float64
Cleanliness        float64
Service            float64
Value              float64
Address             object
FreeParking        float64
FreeWifi           float64
FreeBreakfast      float64
Gym                float64
Pool               float64
Restaurant         float64
BarLounge          float64
TV                 float64
EventFacilities    float64
RoomService        float64
Year                object
dtype: object
Hotel                string
Titles               string
Reviews              string
Dates                object
Review_Rating      category
Travel_Type        category
Hotel_Class        category
No_of_Reviews         int64
Rating             category
Location           category
Cleanliness        category
Service            category
Value              category
Address              string
FreeParking        category
FreeWifi           category
FreeBreakfast      category
Gym                category
Pool               category
Restaurant         category
BarLounge          category
TV                 category
EventFacilities    category
RoomService        category
Year                  int64
dtype: object

In [ ]:
#Add polarity scores
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment import SentimentIntensityAnalyzer

sia = SentimentIntensityAnalyzer()
positive = []
negative = []
neutral = []
compound = []

for rev in HotelReview['Reviews']:
  score = sia.polarity_scores(rev)
  positive.append(score['pos'])
  neutral.append(score['neu'])
  negative.append(score['neg'])
  compound.append(score['compound'])

word_count = []
for sent in HotelReview['Reviews']:
  count = sent.count(' ') + 1
  word_count.append(count)

HotelReview['Reviews_WordCount'] = word_count
HotelReview['Sentiment_Pos'] = positive
HotelReview['Sentiment_Neg'] = negative
HotelReview['Sentiment_Neu'] = neutral
HotelReview['Sentiment_Compound'] = compound

HotelReview['Sentiment'] = HotelReview['Sentiment_Compound'].apply(
    lambda x: 'Positive' if x >0 else 'Neutral' if x==0 else 'Negative')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [ ]:
HotelReview.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151319 entries, 0 to 157282
Data columns (total 31 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Hotel               151319 non-null  string
 1   Titles              151319 non-null  string
 2   Reviews             151319 non-null  string
 3   Dates               151319 non-null  object
 4   Review_Rating       151319 non-null  category
 5   Travel_Type         151319 non-null  category
 6   Hotel_Class         151319 non-null  category
 7   No_of_Reviews       151319 non-null  int64
 8   Rating              151319 non-null  category
 9   Location            151319 non-null  category
 10  Cleanliness         151319 non-null  category
 11  Service             151319 non-null  category
 12  Value               151319 non-null  category
 13  Address             151319 non-null  string
 14  FreeParking         151319 non-null  category
 15  FreeWifi            151319 non-null  category
 16  FreeBreakfast       151319 non-null  category
 17  Gym                 151319 non-null  category
 18  Pool                151319 non-null  category
 19  Restaurant          151319 non-null  category
 20  BarLounge           151319 non-null  category
 21  TV                  151319 non-null  category
 22  EventFacilities     151319 non-null  category
 23  RoomService         151319 non-null  category
 24  Year                151319 non-null  int64
 25  Reviews_WordCount   151319 non-null  int64
 26  Sentiment_Pos       151319 non-null  float64
 27  Sentiment_Neg       151319 non-null  float64
 28  Sentiment_Neu       151319 non-null  float64
 29  Sentiment_Compound  151319 non-null  float64
 30  Sentiment           151319 non-null  object
dtypes: category(18), float64(4), int64(3), object(2), string(4)
memory usage: 18.8+ MB

In [ ]:
HotelReview.head(3)

,Hotel,Titles,Reviews,Dates,Review_Rating,Travel_Type,Hotel_Class,No_of_Reviews,Rating,Location,...,TV,EventFacilities,RoomService,Year,Reviews_WordCount,Sentiment_Pos,Sentiment_Neg,Sentiment_Neu,Sentiment_Compound,Sentiment
0,Sofitel Singapore Sentosa Resort & Spa,Great place to chill!,Wonderful experience at Le Bar with fur kids! High tea was great value with free flow coffee and...,February 2023,5,couple,5.0,5565,4.5,4.5,...,1.0,1.0,1.0,2023,47,0.547,0.000,0.453,0.9912,Positive
1,Sofitel Singapore Sentosa Resort & Spa,55th Birthday Celebration!,My wife and I just back from 5 days staycation. We wish to share our Appreciation to Sofitel Sen...,August 2022,5,couple,5.0,5565,4.5,4.5,...,1.0,1.0,1.0,2022,249,0.336,0.028,0.636,0.9989,Positive
2,Sofitel Singapore Sentosa Resort & Spa,Will definitely come back!,Super comfy bed and really great location for a peaceful getaway if you love nature :) Love that...,February 2023,4,couple,5.0,5565,4.5,4.5,...,1.0,1.0,1.0,2023,41,0.413,0.000,0.587,0.9755,Positive

In [ ]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(HotelReview, test_size=0.2, random_state=42)

In [1]:
HotelReview.to_csv('/content/drive/MyDrive/BAP Project/Datasets/Final Datasets/Hotel_Cleaned.csv', index=False)
train_set.to_csv('/content/drive/MyDrive/BAP Project/Datasets/Final Datasets/train_set.csv', index=False)
test_set.to_csv('/content/drive/MyDrive/BAP Project/Datasets/Final Datasets/test_set.csv', index=False)

NameError: name 'HotelReview' is not defined